# OS
.DS_Store

# Env
.env
.env.local
.env.production

# Node
node_modules
**/node_modules

# Build
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite

# Coverage
coverage
